{% if page.aboutme %}
<section class="section is-medium">
    
    
    <div  class="container">

        <h1 class="title has-text-centered ">About me</h1>
            
        <div class="columns">
            <div class="column">
            <img src="{{site.baseurl}}/assets/img/luis.jpg">
            </div>
            <div class="column is-three-quarters">
                
                    <p class="block">Hi! I'm Luis.</p>
                    <p  class="block">I am a software engineer with great interest in <strong>data</strong> ,<strong>new technologies</strong> and <strong>artificial intelligence</strong> .</p>
                    <p  class="block">Currently, I am working at <strong>EDP</strong> in the field of <strong>Energy Management and Pricing</strong>, which has allowed me to gain experience in most data science steps: <strong>data pre-processing</strong>, the application of <strong>statistical methods</strong>, <strong>data visualization</strong>, and <strong>communicating results</strong>.</p>
                    <p  class="block">In recent years I have carried out several projects from which I have learned many things. Some of them explained <a href="/blog"><strong>here in my blog.</strong></a> </p>
                
            </div>
        </div>
    </div>
  </section>
{% endif %}